extends layout

block content
  h1= title
  p Welcome to #{title}
  p.hello My animal's name is #{animal}
  img.animal(src="https://picsum.photos/400/200?random" alt="#{animal}")
  - const upAnimal = animal.toUpperCase()
  p My animal is #{upAnimal}
  #output